<form method="post" action="{{ path('exit_delete', {'id': biere.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ biere.id) }}">
    <button class="btn">Delete</button>
</form>
